### Data Mining Using SQL

In [ ]:
%load_ext sql
%sql sqlite://
import pandas as pd

In [ ]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [ ]:
# Load tables from CSV files
# Shop
with open('Shop.csv','rU') as f:
    Shop = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Shop;
%sql persist Shop
# Movies
with open('Movies.csv','rU') as f:
    Movies = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Movies;
%sql persist Movies

## Shopping dataset - frequent item-sets

In [ ]:
%%sql
select * from Shop

### Frequent item-sets of two

#### All pairs of items that occur together (see what's wrong and fix it)

In [ ]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID

#### Now with number of transactions they occur together in

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, count(*)
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item

#### Total number of transactions

In [ ]:
%%sql
select count(distinct TID) from Shop

#### Put it together for frequent item-sets

In [ ]:
support = .3
print support

In [ ]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having count(*)*1.0 / (select count(distinct TID) from Shop) > :support

### Frequent item-sets of three

#### All triples of items that occur together

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item

#### Now with number of transactions they occur together in

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3, count(*)
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item

#### Now frequent item-sets

In [ ]:
support = .3
print support

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having count(*)*1.0 / (select count(distinct TID) from Shop) > :support

### <font color = 'green'>Your Turn - Movies dataset frequent item-sets</font>

In [ ]:
%%sql
select * from Movies limit 15

In [ ]:
%%sql
select count(*), count(distinct TID) from Movies

#### Mine for frequent item-sets of three and four items in the Movies dataset. Find a single support threshold where the number of frequent item-sets of three items is more than 10 but less than 20, and the number of frequent item-sets of four items is more than 0.

In [ ]:
support = INSERT VALUE HERE
print support

In [ ]:
%%sql
INSERT CODE FOR ITEM-SETS OF THREE HERE

In [ ]:
%%sql
INSERT CODE FOR ITEM-SETS OF FOUR HERE

## Shopping dataset - association rules

### Association rules with one item on the left-hand side

In [ ]:
support = .5
confidence = .5
print support, confidence

#### First compute frequent item-sets of one item with specified support, as candidate left-hand sides of assocation rules

In [ ]:
%%sql
select item, count(*)
from Shop
group by item
having count(*)*1.0 / (select count(distinct TID) from Shop) > :support;

#### Do the same query but save the result in a table called "Frequents"

In [ ]:
%%sql
drop table if exists Frequent;
create table Frequent(item, numtrans);
insert into Frequent
select item, count(*)
from Shop
group by item
having count(*)*1.0 / (select count(distinct TID) from Shop) > :support;
select * from Frequent;

#### All pairs with frequent left-hand side, number of transactions for left-hand side, and number of transactions for both

In [ ]:
%%sql
select T1.item as LHS, T2.item as RHS, F.numtrans, count(*)
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item <> T2.item
group by T1.item, T2.item

#### Add check for specified confidence to get final result

In [ ]:
%%sql
select T1.item as LHS, T2.item as RHS
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item <> T2.item
group by T1.item, T2.item
having count(*)*1.0 / F.numtrans > :confidence

### Association rules with two items on the left-hand side

In [ ]:
support = .5
confidence = .5
print support, confidence

#### First compute frequent item-sets of two items with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions

In [ ]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, numtrans);
insert into Frequent
select T1.item, T2.item, count(*)
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having count(*)*1.0 / (select count(distinct TID) from Shop) > :support;
select * from Frequent;

#### All triples with frequent left-hand side, number of transactions for left-hand side, and number of transactions for all three

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, F.numtrans, count(*)
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item <> T2.item and T2.item <> T3.item and T1.item <> T3.item
group by T1.item, T2.item, T3.item

#### Add check for specified confidence to get final result

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item <> T2.item and T2.item <> T3.item and T1.item <> T3.item
group by T1.item, T2.item, T3.item
having count(*)*1.0 / F.numtrans > :confidence

### <font color = 'green'>Your Turn - Movies dataset association rules</font>

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and confidence thresholds (need not be the same) so the number of association rules is more than 10 but less than 20.

In [ ]:
support = INSERT VALUE HERE
confidence = INSERT SAME OR DIFFERENT VALUE HERE
print support, confidence

In [ ]:
%%sql
drop table if exists Frequent;
INSERT CODE FOR CREATING FREQUENT TABLE WITH ITEM-SETS OF THREE HERE

In [ ]:
%%sql
INSERT CODE FOR ASSOCIATION RULES HERE